.blueNav{
    background-color: #185694 !important;
  }
  
.navbar{
    span{
        float: right;
        color: white;
    }
}

  .navText
  {
    color: white !important;
  }

    .container
    {
        .description
        {
            font-size: 13px;
            float: left;
            text-align: left;
            width: 100%;
            font-weight: bold;
            margin: 20px 0;
        }

        label{
            float: left;
            width: 100%;
            font-weight: bold;
            margin-bottom: 2px;
        }

        .dropDown
        {
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 286px;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
        }


        
.loaderImage{
    text-align: center;
    margin: 24px 0;
    display: none;

    .lds-circle {
        display: inline-block;
        transform: translateZ(1px);
      }
      .lds-circle > div {
        display: inline-block;
        width: 51px;
        height: 51px;
        margin: 6px;
        border-radius: 50%;
        background: #19468e;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      @keyframes lds-circle {
        0%, 100% {
          animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(1800deg);
          animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
          transform: rotateY(3600deg);
        }
      }
}

    .imageDiv{
        text-align: center;
        float: left;
        width: 100%;
        margin: 24px 0;

        .error{
            background-color:#a00000;
            border: black;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 8px;
            border-radius: 5px;
        }

        img{
            text-align: center;
            max-width: 200px;

            opacity: 0;
            animation: fadeIn .6s ease-in both;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translate3d(-20%, 0, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    }
  